#redes{
	height: auto;
	margin-top: 130px;
    margin-bottom: 0px;
}
#imgprimera{
	margin-top: 20px;
}

@media only screen and (max-width: 600px){
	#redes{
	    height: auto;
	    margin-top: 0px;
        margin-bottom: 0px;
   }
   li{
   	width: 100%;
   	text-align: center;
   }
}