body{
	background-image: url("fondo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #006DD9;
}
hr{
	border-width: 1px;
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    background-color: #444444;
}
#contenedor{
	background-color: #F1F1F1;
	opacity: 0.8;
}
#slogan{
	text-align: right;
}
#titulo{
	border-right: 2px solid #444444;
}
#lateral{
	height: auto;
	padding-right: 15px;
	padding-left: 15px;
	opacity: 1;
	margin-left: 14px;
	padding-top: 30px;
	background-color: #999999;
	max-width: 360px;
}
#blog{
	background-color: #D90000;
	padding: 15px;
	margin-left: 7px;
	width: 90%;
	max-width: 745px;
}
#search{
	border-radius: 4px;
	border: 1px solid #660000;
	height: 25px;
}
#menup{
	width: 100%;
	padding: 0px;
	display: inline-table;
}
.active-pink-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-pink-3 input[type=text] {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-purple-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-purple-3 input[type=text] {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}
.buscador{
	width: 100%;
	max-width: 320px;
	height: 33px;
	margin-bottom: 20px;
	
}
.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
#buscador1{
	padding-left: 8px;
}
#boton1{
	padding: 0px;
	margin-left: -16px;
	margin-top: 1px;
}
.column{
	width: 100%;
}
.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; 
 }
  [data-whatinput='mouse'] .menu li {
    outline: 0; 
}
  .menu a,
  .menu .button {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem; 
}
  .menu input,
  .menu select,
  .menu a,
  .menu button {
    margin-bottom: 0;
    color: #ffffff; 
}
a:hover{
	color: #D90000;
}
  .menu input {
    display: inline-block; 
}.menu.vertical {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
}
    .menu.align-center li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .menu.align-center li .submenu li {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }

.imagen{
	width: 100%;
}
#texto{
	color: #ffffff;
}
@media only screen and (max-width: 600px){
	#redes{
	    height: auto;
	    margin-top: 0px;
        margin-bottom: 0px;
   }
   li{
   	width: 100%;
   	text-align: center;
   }
   #logo{
   	max-width: 200px;
   }
   #blog{
	background-color: #D90000;
	padding: 15px;
	margin-left: 7px;
	width: 96%;
	max-width: 745px;
}
}